body {
	background-color: #05004E;
	font-family: 'Kameron', serif;
	font-size: 3vw;
}

.title {
	font-family: 'Sansita', sans-serif;
	text-align: center;
}

.logo{
display: flex;
margin: auto;
margin-bottom: 20px;
width: 250px;
height: 100px;
}
.contenedor{
   text-align: center;
   margin: 0 auto;
   height: 300px;
   width: 350px;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}
.contenedor input{
	font-family: 'Sansita', sans-serif;
   text-align: center;
}
.contenedor button{
   margin-top: 20px;
   margin-bottom: -30px;
}
.pokemon{
   width: 150px;
   height: 150px;
   margin: 40px auto;
   display: inline-block;
}

p{
	font-family: 'Sansita', sans-serif;
   margin-top: -60px;
   color: white}

.button {
	font-family: 'Sansita', sans-serif;
  background-color: #FB4444;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
  font-size: 3vh;
  cursor: pointer;
}

.button:hover {
	background-color: #FF0000;

}
